<div class="py-2 px-2">
    <div class="page-design mat-elevation-z8">
        <!--    <div class="pd-sidebar mat-elevation-z2"></div>-->
        <div class="pd-content">
            <div class="pd-profile-img pd-accent-bg mat-elevation-z3"></div>
            <mat-grid-list class="w-100 h-100 oy-hidden" cols="4" rowHeight="fit" gutterSize="6px">
                <mat-grid-tile class="pd-primary-bg mat-elevation-z2 rounded-sm" colspan="4"
                               rowspan="3"></mat-grid-tile>
                <mat-grid-tile class="pd-primary-bg mat-elevation-z2 rounded-sm" colspan="1"
                               rowspan="6"></mat-grid-tile>
                <mat-grid-tile class="pd-accent-bg mat-elevation-z3 rounded-sm" colspan="3" rowspan="2"></mat-grid-tile>
                <mat-grid-tile class="pd-warn-bg mat-elevation-z3 rounded-sm" colspan="3" rowspan="3"></mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
