.skill-card {
    background: transparent;
    box-shadow: none !important;
}

.list {
    overflow-x: visible;
    overflow-y: visible;
}

.skill-img {
    object-fit: contain;
    max-width: 75%;
}
