<div>
    <div class="box">
        <div class="whoami px-1 py-1">
            <h1 class="text-white pacifico mat-display-3 mb-5">
                Wesley Young<span class="accent-color">.</span>
            </h1>
            <h4 class="text-white mat-display-1 mb-2">
                Full stack developer and DevOps Master
            </h4>
            <p class="text-white">
                I'm Wesley Young, a full stack web developer with a passion for design and creativity based in Saint
                George,
                Utah.
            </p>
            <div>
                <a class="mr-2 mt-1 cta" [href]="freelanceMailText" mat-raised-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Reach out to me to build you dream website">
                        filter_drama
                    </mat-icon>
                    Build my dream website
                </a>
                <a class="cta mt-1" [href]="lookingToHireMailText" mat-raised-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="Reach out to hire me on your team">
                        person_add
                    </mat-icon>
                    I'm looking to hire
                </a>
            </div>
        </div>
    </div>
    <div class="dark-bg content-holder">
        <div class="container py-4">
            <div class="w-100 py-4">
                <app-skill *ngFor="let skill of skills; let i = index" [skill]="skill" [i]="i"></app-skill>
            </div>
        </div>
    </div>
    <div class="black-bg">

    </div>
    <div class="white-bg pt-2">
        <div class="container py-4 text-center">
            <div class="w-100 py-4">
                <h2 class="base-color mat-display-2 mb-2 ">
                    Projects
                </h2>
                <hr class="mw-500px accent-divider">
            </div>
            <div class="d-inline-block px-2 py-2"
                 *ngFor="let project of projects">
                <app-project-card
                    [project]="project">
                </app-project-card>
            </div>
        </div>
    </div>
</div>
