.box {
    //background-color: #f2f2f2;
    height: 100vh;
    background-color: #a7908690;
    z-index: 10;

    .whoami {
        max-width: 100vw;

        h1, h4 {
            max-width: 100vw;
        }

        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        p {
            width: 400px;

            max-width: 100vw;
        }
    }
}

.mambafi-icon {
    background-image: url('/assets/imgs/mambafi_180x180.png');
    background-size: cover;
}

.perch-icon {
    background-image: url('/assets/imgs/perch.png');
    background-size: cover;
}

.e2c-icon {
    background-image: url('/assets/imgs/e2c.png');
    background-size: cover;
}

.about-me {
    position: absolute;
    height: fit-content;
    width: 90%;
    max-width: 475px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        text-align: left;
    }
}

.tile {
    div {
        position: absolute;
        top: 0;
    }
}

.cta {
    height: 48px;
    font-size: 18px;
}

.content-holder {
}
